<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PVBHZFM" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="uk-container uk-container-xsmall uk-margin-large-top uk-margin-large-bottom	">
      {% include header.html %}
        <div>
            {{ content }}
        </div>
      {% include footer.html %}
    </div>
  </body>

</html>
